.not-found {
  margin: 15vh auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: var(--accent-color);
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem;
}
