.footer{
    padding: 1rem;
    background-color: #000;
    height: 15vh;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
}
.contact-info{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.phone-icon{
    width: 2rem;
    height: 2rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    background-image: url("../assets/phone.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}