:root{
    --accent-color: #E50914;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    text-decoration: none;
}

body{
    position: relative;
    background-color: #181818;
    
}

