.menu{
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.menu__button{
    position: relative;
    width: 2.2rem;
    height: 0.2rem;
    border: none;
    border-radius: 1rem;
    background-color: #FFF;
    outline: none;
    
}
.menu__button-wrapper{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: start;
    min-width: 3rem;
    min-height: 3rem;
    background-color: #E50914;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
   
}
.menu__button::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0.6rem;
    width: 2.2rem;
    height: 0.2rem;
    background-color: #FFF;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}
.menu__button::before{
    content: "";
    position: absolute;
    left: 0;
    top: -0.6rem;
    width: 2.2rem;
    height: 0.2rem;
    background-color: #FFF;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
}
.menu__list{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: rgba(0,0,0,0.8);
    font-size: 2rem;
    text-align: justify;
    color: #FFF;
    transform: translateX(-100%);
    transition: none;
 
}
.menu__list li{
    position: relative;
    width: 100%;
}
.menu__list a{    
    position: relative;
    margin: auto;
    color: #FFF;
}
.menu__list a::after{
    content: "";
    position: absolute;
    top: 2.5rem;
    left: 0%;
    width: 0%;
    height: 0.3rem;
    background-color: #E50914;
    transition: width 0.5s ease-in-out;
}
.menu__list a:hover::after{
    width: 100%;
}

.submenu{
    position: absolute;
    top: 9vh;
    left: 50%;
    display: block;
    width: 20rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    transform: translateX(-50%);
}
.submenu li{
    padding: 0.5rem;
    border-radius: 1rem;
}
.submenu li:hover{
    border-radius: 1rem;
    cursor: pointer;
    background-color: #aa070f;
}
/*Modifiers classes*/
.--visible{
    animation: visible 0.7s forwards;
}
.--hidden{
    animation: hidden 0.7s forwards;
}
.--cross .menu__button{
   background-color: transparent;
}
.--cross .menu__button::after{
    transform: translateY(-0.6rem) rotateZ(-45deg);
}
.--cross .menu__button::before{
    transform: translateY(0.6rem) rotateZ(45deg);
}
.--hamburguer .menu__button{
    transition: all 0.3s ease-in-out;
}
/*Searching bar classes*/
.search-form{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0.2rem 1.1rem;
    border: 2px solid #FFF;
    border-radius: 3rem;
}
.search-form input{
    display: block;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: #FFF;
    outline: none;
}
.search-form__text{
   width: 80%;
}
.search-form__button{
    min-width: 2rem;
    min-height: 2rem;
    background-image: url("../assets/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    cursor: pointer;
}
/*Aniamtions*/
@keyframes hidden{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100);
    }
}
@keyframes visible{
    from{
        transform: translateX(-100);
    }
    to{
        transform: translateX(0);
    }
}
/*media query for large screens*/
@media all and (min-width: 768px){
    .menu{
        flex-flow: row nowrap;
        flex-grow: 1;
        width: calc(100%-17rem);
        
    }
    .menu__button-wrapper{
        display: none;
    }
    .menu__list{
        position: static;
        flex-flow: row nowrap;
        justify-content: flex-start;
        width: 100%;
        height: 15vh;
        background-color: transparent;
        transform: translateX(0);
        transition: none;
    }
    .menu__list>li{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: fit-content;
        height: inherit;
        font-size: 1.6rem;
        
    }
    .menu__list a::after{
        content: "";
        position: absolute;
        top: 2.2rem;
        left: 0%;
        width: 0%;
        height: 0.3rem;
        background-color: #E50914;
        transition: width 0.5s ease-in-out;
    }
    .menu__list li:first-child{
       order: 1;
    }
    
    .submenu{
        position: absolute;
        top: 14vh;
        left: 50%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(7, auto);
        width: 40rem;
        padding: 0.5rem;
        background-color: var(--accent-color);
        border-radius: 1rem;
        font-size: 1.2rem;
        transform: translateX(-50%) scale(0);
        opacity: 0;
    }
    .submenu::before{
        content: "";
        position: absolute;
        top:-1rem;
        left: 50%;
        width: 0;
        height: 0;
        border-left: 0.7rem solid transparent;
        border-right: 0.7rem solid transparent;
        border-bottom: 1rem solid var(--accent-color);
        transform: translateX(-50%);
    }
    .menu__list li:hover .submenu{
        display: grid;
        transform: translateX(-50%) scale(1);
        transition: 0.4s all ease-in-out;
        opacity: 1;
    }
    .search-form input{
     
        font-size: 1.6rem;
    }
}