.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  gap: 1rem;
  align-self: flex-end;
  width: 100%;
  min-height: 15vh;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  font-size: 0.8rem;
}
.tmdb-link {
  color: #fff;
  text-decoration: none;
}
.tmdb-img {
  width: 8rem;
  height: auto;
  object-fit: cover;
  object-position: center;
}
.contact-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.7rem;
  width: 90%;
}
.phone-number,
.email-address,
.linkedin {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.linkedin {
  text-decoration: none;
  color: #fff;
}
.icons {
  min-width: 2rem;
  min-height: 2rem;
  background-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
  border-radius: 50%;
}
.phone-number__icon {
  background-image: url("../../assets/images/phone.svg");
}
.email-address__icon {
  background-image: url("../../assets/images/e-mail.svg");
}
.linkedin__icon {
  background-image: url("../../assets/images/linkedin.svg");
}

@media all and (min-width: 768px) {
  .footer {
    flex-flow: row nowrap;
    font-size: 1rem;
  }
  .contact-info {
    width: auto;
    overflow-x: hidden;
  }
}
