.footer{
    padding: 1rem;
    background-color: #000;
    min-height: 15vh;
    color: #FFF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    align-self: flex-end;
    gap: 1rem;
    font-size: 0.8rem;
}
.tmdb-link{
    text-decoration: none;
    color: #FFF;
}
.tmdb-img{
    object-fit: cover;
    object-position: center;
    width: 8rem;
    height: auto;
}
.contact-info{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.7rem;
    width: 90%;
   
   
}
.phone-number,.email-address, .linkedin{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;
}

.linkedin{
    text-decoration: none;
    color: #FFF;
}
.icons{
    min-width: 2rem;
    min-height: 2rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%;
}
.phone-number__icon{
    background-image: url("../../assets/images/phone.svg");
}
.email-address__icon{
    background-image: url("../../assets/images/e-mail.svg");
}
.linkedin__icon{
    background-image: url("../../assets/images/linkedin.svg");
}


@media all and (min-width: 768px){
    .footer{
        flex-flow: row nowrap;
        font-size: 1rem;
    }
    .contact-info{
        width: auto;
        overflow-x: hidden;
    }
}