.view {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.view--slider-flex {
  margin-top: 0;
}
.view--slider-none {
  margin-top: 15vh;
}
