.view{
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.view--slider-flex{
    margin-top:0;
}
.view--slider-none{
    margin-top: 15vh;
}